In [1]:
# import libraries
import pandas as pd

In [2]:
# set periode of study
start_date = '1981-06-01'
end_date = '2010-12-31'

In [3]:
# load climate data
pr = pd.read_csv('./climate_data/pr_fieldmean.csv')
tmax = pd.read_csv('./climate_data/tmax_fieldmean.csv')
tmin = pd.read_csv('./climate_data/tmin_fieldmean.csv')

In [4]:
# rename colums
pr = pr.rename(columns={'time':'Date', '0': 'pr'})
tmax = tmax.rename(columns={'time':'Date', '0': 'tmax'})
tmin = tmin.rename(columns={'time':'Date', '0': 'tmin'})

In [5]:
# merge pr, tmax and tmin by date column
climate_data = pr.merge(tmax, on='Date').merge(tmin, on='Date')

In [6]:
# select time periode between 19810601 and 20101231
climate_data = climate_data.loc[(climate_data['Date'] >= 19810601) & (climate_data['Date'] <= 20101231)]

In [7]:
# convert time to datetime
climate_data['Date'] = pd.to_datetime(climate_data['Date'], format='%Y%m%d')

In [8]:
# reset index of climate data
climate_data = climate_data.reset_index().drop('index', axis=1)

In [9]:
# load hydro data
ansongo = pd.read_csv('./hydro_data/interpolate/ansongo.csv')
kandadji = pd.read_csv('./hydro_data/interpolate/kandadji.csv')
niamey = pd.read_csv('./hydro_data/interpolate/niamey.csv')

In [10]:
# merge ansongo, kandadji and niamey by date column
hydro_data = ansongo.merge(kandadji, on='Date').merge(niamey, on='Date')

In [11]:
# define datetime of hydro data
hydro_data['Date'] = pd.to_datetime(hydro_data['Date'], infer_datetime_format=True)

In [12]:
# merge climate data and hydro by time column
model_data = climate_data.merge(hydro_data, on='Date')

In [13]:
model_data

,Date,pr,tmax,tmin,Ansongo,Kandadji,Niamey
0,1981-06-01,0.525346,38.824417,27.352827,14.0,20.400000,5.03
1,1981-06-02,0.732719,39.789036,27.593908,13.0,17.000000,4.61
2,1981-06-03,0.341014,39.171715,26.769451,13.0,14.600000,4.14
3,1981-06-04,1.986175,39.452515,28.201244,13.0,14.100000,3.68
4,1981-06-05,0.271889,39.426506,26.821142,13.0,12.900000,2.99
...,...,...,...,...,...,...,...
10801,2010-12-27,0.000000,33.876694,19.051850,1751.0,1841.915039,1669.00
10802,2010-12-28,0.000000,33.088223,18.405252,1753.0,1851.276978,1677.00
10803,2010-12-29,0.000000,30.650715,17.136805,1752.0,1851.276978,1684.00
10804,2010-12-30,0.000000,29.456808,16.068770,1749.0,1851.276978,1684.00
10805,2010-12-31,0.000000,29.198921,16.231855,1743.0,1860.637939,1684.00

In [14]:
# save data to csv
model_data.to_csv('./model_data/model_data_interpolated.csv', index=False)